@model String
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/File.css" rel="stylesheet" />
    <title>File</title>
</head>
<body>
    <h1>File Management</h1>
    <div id="div1">
        <a href="@Url.RouteUrl("FileIndex")">Read File</a>
        <a href="@Url.RouteUrl("FileDownload")">Download File</a>
    </div>
    <div id="div2">
        <form action="#" method="post">
            <input type="file" />
            <input type="submit" />
        </form>
    </div>
    <div id="div3">
       <p>@Model</p>
    </div>
</body>
</html>
