
@{
    ViewBag.Title = "About2";
    Layout = "~/Views/_Layer1.cshtml";
}

<div>
    <h2>About2</h2>
    @for (int i = 0; i < 3; i++)
    {
        <div style="border:1px solid yellow;">
            I am About
        </div>
    }
</div>
