@model Pro_1_MVC_Learning.Models.Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="Collection">
    @for (int i = 0; i < 10; i++)
    {
        <div class="item">
            <h3>Title</h3>
            <img class="img" src="~/Image/P2.jpg" />
            <button class="item-click">Click</button>
        </div>
    }
</div>
