
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <style>
        div {
            background: black;
            margin: 2rem;
            padding: 2rem;
            color: white;
            text-align: center;
            border-radius: 15px;
        }
        #header {
            background: #000000;
            box-shadow: 0 0 20px 0 #3d3d3d;
            color: white;
        }
        #section {
            background: #ffd800;
            box-shadow: 0 0 20px 0 #0000009e;
            color: #2a2a2a;
        }
        #footer{
            background: #353535;
            box-shadow: 0 0 20px 0 #0000009e;
            color: #97ff00;
        }
    </style>
</head>
<body>
    <div id="header">
        <h1>This is Header Index1</h1>
    </div>
    <div id="section">
        <h1>This is Section Index1</h1>
    </div>
    <div id="footer">
        <h1>This is Footer Index1</h1>
    </div>
</body>
</html>
