@model Pro_1_MVC_Learning.Models.Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="Collection">
    @for (int c=1, i = 0; i < 10; i++,c++)
    {
        <div class="item">
            <h3>Title : @c</h3>
            <img class="img" src="~/Image/P@(c).jpg" />
            <a class="item-click" href="@Url.RouteUrl("NewsInfoByID",new {id=c})">Click</a>
        </div>
    }
</div>
