@model Pro_1_MVC_Learning.Models.Admin 
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Home/Panel.cshtml";
}

<div id="login-container">
    <div id="login-logo">Adminstrator</div>
    <div id="login-control">
        @using (Html.BeginForm("isAdmin", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(admin => admin.Username, new { placeholder = "Enter Username" })
            @Html.PasswordFor(admin => admin.Password, new { placeholder = "Enter Password" })
            <input type="submit" value="Login" id="login-submit" />
        }
    </div>
    <div id="login-button">
        <a href="#">Forgot Password?</a>
        <a href="#">Sign up</a>
    </div>
</div>

