
@{
    ViewBag.Title = "ManagerNews";
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<div id="container">
    <form id="form">
        <input class="input" type="text" placeholder="Enter Title ... " />
        <input class="input" type="text" placeholder="Enter Info ... " />
        <input class="input file" type="file" placeholder="Enter Info ... "  value="Pic"/>
    </form>
    <div>
        <button class="btn">Submit</button>
    </div>
</div>
