@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Panel-Control">
    <div id="Panel-left-side">
        <div id="Panel-left-side-list">
            <a href="@Url.Action("Index","Home",new {area="Admin"})">Admin</a>
            <a href="#">UserStar</a>
            <a href="#">User</a>
            <a href="#">Blogs</a>
            <a href="#">News</a>
            <a href="#">Abouts</a>
        </div>
    </div>
    <div id="Panel-right-side">
        @RenderBody()
    </div>
</div>