@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Panel-Control">
    <div id="Panel-left-side">
        <ul id="Panel-left-side-list">
            <li class="panel-left-side-list-item"><a href="@Url.Action("Index","Home",new {area="Admin"})">Admin</a></li>
            <li class="panel-left-side-list-item"><a href="#">UserStar</a></li>
            <li class="panel-left-side-list-item"><a href="#">User</a></li>
            <li class="panel-left-side-list-item"><a href="#">Blogs</a></li>
            <li class="panel-left-side-list-item"><a href="#">News</a></li>
            <li class="panel-left-side-list-item"><a href="#">Abouts</a></li>
        </ul>
    </div>
    <div id="Panel-right-side">
        @RenderBody().WriteTo()
    </div>
</div>