
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
    <link href="~/Content/CSS/CRUDForm.css" rel="stylesheet" />
    <title>My MVC App : @ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <h1>This is Header _Layer1</h1>
    </div>
    <div id="nav">
        <div id="div-list">
            <ul id="list">
                <li class="nav-item"><a href="@Url.RouteUrl("Home")">Home</a></li>
                <li class="nav-item"><a href="@Url.RouteUrl("NewsInfo")">News</a></li>
                <li class="nav-item"><a href="/Home/Products">Products</a></li>
                <li class="nav-item"><a href="/Home/Tools">Topics</a></li>
                <li class="nav-item"><a href="/Home/About">About</a></li>
                <li class="nav-item"><a href="/Home/Manager">Manager</a></li>
            </ul>
        </div>
        <div id="searchControl"><span><input type="text" placeholder="Search ..." /><button>Go</button></span></div>
    </div>
    <div id="main-section">
        @RenderBody()
    </div>
    
    <div id="footer">
        <div id="footer-div1"></div>
        <div id="footer-div2"><a href="#">EXAMPLE.COM</a></div>
        <div id="footer-div3">
            <div id="home-footer-comment">
                <form method="post">
                    <input type="email" placeholder="Email@mail.com" name="email" />
                    <textarea id="comment" rows="10" cols="25" name="comment" placeholder="Comment ..."></textarea>
                    <input id="submit-comment-footer" type="submit" value="Send" name="submit" />
                </form>
            </div>
            <div id="home-footer-logical">
                <div id="home-footer-logical-info1">
                    <ul>
                        <li><a href="#">Title1</a></li>
                        <li><a href="#">Title2</a></li>
                        <li><a href="#">Title3</a></li>
                        <li><a href="#">Title4</a></li>
                    </ul>
                </div>
                <div id="home-footer-logical-info2">
                    <ul>
                        <li><a href="#">Title1</a></li>
                        <li><a href="#">Title2</a></li>
                        <li><a href="#">Title3</a></li>
                        <li><a href="#">Title4</a></li>
                        <li><a href="#">Title5</a></li>
                    </ul>
                </div>
                <div id="home-footer-logical-inf3">
                    <ul>
                        <li><a href="#">Title1</a></li>
                        <li><a href="#">Title2</a></li>
                    </ul>
                </div>
                <div id="home-footer-logical-inf4">
                    <ul>
                        <li><a href="#">Title1</a></li>
                        <li><a href="#">Title2</a></li>
                        <li><a href="#">Title3</a></li>
                        <li><a href="#">Title4</a></li>
                        <li><a href="#">Title5</a></li>
                    </ul>
                </div>
            </div>
            <div id="home-footer-social">
                <a href="#"><i class="fa fa-instagram"></i>instagram</a>
                <a href="#"><i class="fa fa-instagram"></i>youtube</a>
                <a href="#"><i class="fa fa-instagram"></i>twitter</a>
                <a href="#"><i class="fa fa-instagram"></i>linkedin</a>
                <a href="#"><i class="fa fa-instagram"></i>github</a>
                <a href="#"><i class="fa fa-instagram"></i>discord</a>
            </div>
        </div>
    </div>
</body>
</html>