
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
    <title>My MVC App : @ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <h1>This is Header _Layer1</h1>
    </div>
    <div id="nav">
        <div id="div-list">
            <ul id="list">
                <li class="nav-item"><a href="/Home/Index">Home</a></li>
                <li class="nav-item"><a href="/Home/News">News</a></li>
                <li class="nav-item"><a href="/Home/Products">Products</a></li>
                <li class="nav-item"><a href="/Home/Tools">Tools</a></li>
                <li class="nav-item"><a href="/Home/About">About</a></li>
                <li class="nav-item"><a href="/Home/Manager">Manager</a></li>
            </ul>
        </div>
        <div id="searchControl"><span><input type="text" placeholder="Search ..." /><button>Go</button></span></div>
    </div>
    <div id="section">
        <h1>This is Section _Layer1</h1>
        @RenderBody()
    </div>
    <div id="footer">
        <h1>This is Footer _Layer1</h1>
    </div>
</body>
</html>