<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div id="header-container">
        <h1>
            نرم افزار مدیریت محتوا و نرم افزار
        </h1>
    </div>
    <div id="nav-container">
        Nav
    </div>
    <div id="section-container">
        <div id="asid-container">
            <div id="asid-list">
                <a class="asid-list-item" href="@Url.RouteUrl("IndexHome")">خانه</a>
                <a class="asid-list-item" href="@Url.RouteUrl("IndexProducts")">محصولات</a>
                <a class="asid-list-item" href="@Url.RouteUrl("IndexNews")">اخبار</a>
            </div>
        </div>
        <div id="body-container">
            @RenderBody()
        </div>
    </div>
    <div id="footer-container">
        Footer
    </div>
</body>
</html>
