a{
    text-decoration: none;
}
#header, #Panel, #section, #article, #footer{
    margin:1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #000000;
}
#header {
    background: linear-gradient(0deg,#2700ad,#009aff,#5830ff);
    color: white;
    padding: 5rem;
    text-align: center;
}
#section {
    background: #0044ff83;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
#article {
    background: #15005c;
    text-align: left;
    height: 95%;
}
#A-List {
    list-style: none;
}
#A-List li{
    text-align: center;
    cursor: pointer;
    list-style: none;
    width: 5rem;
    margin: 1rem 2rem 1rem 0;
    background: #3900ff;
    padding: 1rem 3rem;
    border-radius: 1rem;
}
#A-List li:hover{
    background: #2700ad;
    color: white;
}
#A-List li a{
    font-size: 1.3rem;
    color: #ffffff;
}

#Panel {
    background: #0092ff;
    padding: 5rem;
    height: 80%;
    width: 100%;
}
#footer {
    background: #000000;
    color: white;
    padding: 5rem;
}
/*  This is NewManager  */

#container {
    background: #ffffff9e;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form {
    display: flex;
    flex-direction: column;
}
.input {
    border: 1px solid #00000000;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
.input:focus{
    outline: none;
}
.btn {
    cursor: pointer;
    padding: 0.5rem 5rem;
    background: #0092ff;
    border: 1px solid white;
    color: white;
}
.btn:hover {
    background: white;
    border: 1px solid #0092ff;
    color: #0092ff;
}