body {
    direction: rtl;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg,#ff6a00,#ff0000) !important;
}
#form-container{
    background: #ffffff66;
    margin-top: 5rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #000000ff;
}
#form-pic {
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #000000ff;
}
#form-pic:hover {
    box-shadow: 0 0 20px 0 #000000ff;
}
#from-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#from-div > h1{
    background: #ff6262;
    padding: 0.5rem 4rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.5rem;

}
#from-div > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-user-item {
    padding: 0.5rem 1rem;
    margin: 0.4rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
    background: #ffffff89;
}
.form-user-submit{
    width: 50%;
}
.form-user-submit:hover {
    background: #0044ffd7;
    color: #ffffff;
}
.input-validation-error {
    background: #ff00008f;
}