a{
    text-decoration: none;
}
body{
    text-align: center;
}
#header, #footer {
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #000000;
}
#header{
    background: #00026c;
    
}
#header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
}
#header-list > li {
}
#header-list > li > a {
    color: #ffffff;
}
#footer {
    color: #ffffff;
    padding: 5rem 1rem;
    background: #150041;
}
/*   Panel Admin   */
#Panel-Control{

}
#Panel-left-side{

}
#Panel-left-side-list{

}
.panel-left-side-list-item{

}