
a {
    text-decoration: none;
}
body {
    direction: rtl;
    text-align: center;
    color: #ffffff;
}
#header-container,
#nav-container,
#asid-container,
#body-container,
#footer-container{
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 1rem;
}
#header-container {
    background: linear-gradient(90deg, #5592ff, #ad6dff);
}
#nav-container {
    background: linear-gradient(90deg, #5592ff, #ad6dff);
}
.nav-items{
    margin-right:0.5rem;
}
.nav-items:hover {
    cursor: pointer;
    color: #000000 !important;
}
#nav-search{
    background: #ffffff86;
}


#section-container{

}
#asid-container {
    background: linear-gradient(90deg, #5592ff, #ad6dff);
}
.asid-list-item{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}
.asid-list-item:hover {
    background: #baa6ff50;
    border-radius: 0.5rem;
    color: #ffffff;
    border: 1px solid #ffffff49;
    box-shadow: 0 0 10px 0 #ffffff48;
}
#body-container {
    background: linear-gradient(90deg, #5592ff, #ad6dff);
    min-height: 500px;
}
#footer-container {
    background: linear-gradient(90deg, #5592ff, #ad6dff);
    min-height: 250px;
}