.btn-modal {
    padding: 0.5rem 1rem;
    background: rgb(0, 68, 255);
    border: 1px solid #eee;
    color: #eee;
    cursor: pointer;
    border-radius: 0.5rem;
}

    .btn-modal:hover {
        background: rgb(0, 30, 114);
    }

.d-block-modal {
    display: block !important;
}

#modal-shadow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place front is invalid - may break your css so removed */
    padding-top: 100px; /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
    left: 0;
    right: 0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
}

#modal-tab {
    margin: 5rem auto;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgb(61, 61, 61);
    animation-name: fade;
    animation-duration: 1s;
}

#modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 43, 136);
    color: #eee;
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
}
#modal-title{
    font-size: 1.2rem;
    margin-top: 1rem;
}

#modal-body {
    padding: 1rem;
    background: rgb(255, 255, 255);
}

#modal-footer {
    background: rgb(86, 139, 255);
    border-radius: 0 0 1rem 1rem;
    padding: 0.5rem 1rem;
}

#close-X {
    font-size: 2rem;
}

    #close-X:hover {
        color: rgb(255, 0, 0);
        cursor: pointer;
    }

@keyframes fade {
    0% {
        margin-top: -5rem;
    }

    100% {
    }
}
