
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        #title {
            margin: 1rem;
            background: #ff0000;
            padding: 1rem;
            box-shadow: 0 0 10px 0 #000000;
            border-radius: 1rem;
            text-align: center;
            color: #ffffff;
        }
        #title > h1 {
            margin: 1rem;
        }
    </style>
</head>
<body>
    <div id="title">
        <h1>Oops! Page is notFound This is an Error Exception.</h1>
    </div>
</body>
</html>
